<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zut.pd.dao.Userdao">

    <insert id="register">
      insert into user
        (uid, uname, uphone, uemail, upassword, ufavor, umoney, ustar)
        values (#{uid},#{uname},#{uphone},#{uemail},#{upassword},#{ufavor},#{umoney},#{ustar})
    </insert>

</mapper>