<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zut.pd.dao.Userdao">
    <!--注册-->
    <insert id="register">
      insert into user
        (uid, uname, uphone, uemail, upassword, ufavor, umoney, ustar)
        values (#{uid},#{uname},#{uphone},#{uemail},#{upassword},#{ufavor},#{umoney},#{ustar})
    </insert>
    <!--根据手机号和密码查找用户-->
    <select id="FindUserPhone" parameterType="com.example.zut.pd.dao.Userdao"
            resultType="com.example.zut.pd.dao.domain.UserDomain">
       SELECT uid,uname,uphone,uemail,upassword,ufavor,umoney,ustar
       FROM user WHERE uphone=#{uphone} AND upassword=#{upassword}
    </select>
    <!--根据邮箱和密码查找用户-->
    <select id="FindUserEmail" parameterType="com.example.zut.pd.dao.Userdao"
            resultType="com.example.zut.pd.dao.domain.UserDomain">
       SELECT uid,uname,uphone,uemail,upassword,ufavor,umoney,ustar
       FROM user WHERE uemail=#{uemail} AND upassword=#{upassword}
    </select>
    <!--根据序号来查找用户-->
    <select id="FindUser" parameterType="com.example.zut.pd.dao.Userdao"
            resultType="com.example.zut.pd.dao.domain.UserDomain">
        SELECT uid,uname,uphone,uemail,upassword,ufavor,umoney,ustar
        FROM user WHERE uid=#{uid}
    </select>
    <!--更新个人信息-->
    <update id="updateUser" parameterType="com.example.zut.pd.dao.Userdao">
        UPDATE user
        SET uname=#{uname},uphone=#{uphone},uemail=#{uemail},upassword=#{upassword},ufavor=#{ufavor}
        WHERE uid=#{uid}
    </update>
</mapper>